.right-section-heading{
    color: #9b9b9b;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
}

.infoContainer{
    border-bottom: 1px solid #cbcbcb;
    color: #4A4A4A;
    font-family: Lato;
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    text-align: left;
}

.rightSectionBox{
    border: rgb(207, 203, 203) 1px solid ;
}

.rightSectionSticky{
    position: fixed;
    top: 0;
    margin-top: 60px;
    right: 10%;
    width: 435px;
    height: auto;
    z-index: 100;
}