.right-section-heading{
    color: #9b9b9b;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info-container{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #cbcbcb;
    color: #4A4A4A;
    font-family: Lato;
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    text-align: left;
}

.rightSectionBox{
    
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    top:0;
    box-shadow: 6px 4px 10px 0 rgba(122, 122, 122, 0);
}

.sticky{
    box-shadow: 5px 2px 18px #dad3d3;
    border: rgb(207, 203, 203) 1px solid ;
    position: sticky;
    position: -webkit-sticky;
    top:0
}